.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(122, 105, 105);
  height: 100vh;
  .container-row{
    
  }
  .list{}
}